@import "tailwindcss";

body {
  font-family: "Space Grotesk", sans-serif;
}

* {
  box-sizing: border-box;
}

@theme {
    --color-secondary: #F3F3F3;
    --color-primary: #B9FF66;
    --color-accent: #191A23;
}