@import "tailwindcss";

body {
  font-family: "Space Grotesk", sans-serif;
}

* {
  box-sizing: border-box;
}

.projects-slider {
  width: 300px;
  height: 220px;
}

.feedback-slider {
  width: 300px;
  height: 500px;
}